.map-container {
    padding-top: 50px;
}

.map-container>.map-header {
    text-align: center;
    margin: 20px 0;
    color: #3a231e;
}

.map-container>.map-content {
    margin: 20px 0;
}

.map-container>.map-content>div {
    margin: 20px auto 40px auto;
    max-width: 800px;
}

.map-container>.map-content>div>.content-addr {
    margin-bottom: 15px;
    color: #333;
    border-bottom: 1px solid lightgray;
    word-break: keep-all;
}

.map-container>.map-content>div>.content-addr>p {
    font-size: 11pt;
}

.map-container>.map-content>div>.map-div {
    border: 1px solid lightgray;
}