.regist-container {
    padding-top: 50px;
}

.regist-container>.regist-header {
    text-align: center;
    margin: 20px 0;
    color: #3a231e;
}

.regist-container>.regist-form {
    margin: 50px auto 0 auto;
}

.regist-container>.regist-form>div {
    padding: 10px 20px;
}

.regist-container>.regist-form>.agree-content>div {
    padding: 10px 0;
}

.regist-container>.regist-form>.agree-content>div>h5 {
    border-bottom: 2px solid #DDD;
    padding: 10px 4px;
}

.card>.card-body.regist-read {
    max-height: 400px;
    overflow: hidden auto;
}

.regist-container>.regist-form>.agree-all {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.regist-container>.regist-form>.next-page {
    margin-top: 20px;
    text-align: center;
}